<!DOCTYPE html>
<html>
  <head>
    <meta charsert="utf-8" />
    <title>Breakout</title>

  </head>
  <body>
    <canvas id="myCanvas" width="640" height="480"></canvas>
    <%= javascript_include_tag 'application'  %>

  </body>

</html>
