<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag 'application', media: 'all'  %>
  <link href='http://break-out.herokuapp.com/imagine_font.otf'
    rel='stylesheet'
    type='text/css'>
  <link href='imagine_font.otf' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= yield %>

</body>
</html>
