<!DOCTYPE html>
<html>
<head>
  <title>Breakout</title>
  <%= stylesheet_link_tag 'application', media: 'all'  %>

  <link href='imagine_font.otf' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= yield %>

</body>
</html>
